<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">	
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/ac-globalnav.built.css') }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/ac-localnav.built.css') }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/ac-globalfooter.built.css') }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/fonts') }} media="all">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/countries.built.css') }}>
		<title>Choose region</title>
	</head>
	<body class="page-countries">
		<div id="main" class="main" role="main">

			<header class="section section-hero">
				<div class="section-content">
					<h1 class="typography-headline-reduced">Choose region</h1>
				</div>
			</header>
			<section class="section section-region section-asia-pacific" data-analytics-section-engagement="name:asia-pacific">
				<div class="section-content">
					<ul class="countrylist">
					
					{% for region in regions %}
						<li typeof="schema:Country" class="countrylist-item"><a property="schema:url" href="/UpdateDate/{{ region[0] }}" class="block">
							<figure class="flag"><img src={{ url_for('static', filename='flags/'+ region[3] +'.png') }}></figure>
							<meta property="schema:inLanguage" content="en-VN">
							<span property="schema:name" class="countrylist-caption block-link" lang="en-VN">{{ region[1] }}</span>
						</a></li>
					{% endfor %}	
			
					</ul>
				</div>
			</section>
		</div>
	</body>
</html>