<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">	
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/ac-globalnav.built.css') }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/ac-localnav.built.css') }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/ac-globalfooter.built.css') }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/fonts') }} media="all">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/site.built.css') }}>
		<title>System Status - Region (date)</title>
	</head>
	<body>
		<div id="ssp"><main data-reactroot="" id="ssp-main" class="main" role="main"><section class="section-hero"><h1 class="section-headline">System Status</h1></section><div class="wrapper"><div class="lights-container"><section class="section-legend" role="group" aria-label=""><ul class="light-content light-image"><li><div class="light-available"></div><span role="text"><span class="a11y">Green Circle: </span>Available</span></li></ul></section><section class="section-lights"><table id="ssp-lights-table" role="presentation"><tbody>
			{% for systemStatus in systemStatuses %}
				<tr>
					<td id="info-tooltip-wrapper-0" class="info-tooltip-wrapper><div class="light-container"><div class="light-content light-image">
						{% if systemStatus[1] == 0 %}
							<div class="light-available"></div>
						{% else %}
							<div class="light-issue"></div>
						{% endif %}
					</div><div class="light-content light-name"><span role="text">{{ systemStatus[0] }}</span></div></div></td>
					<td>
					{% for event in systemStatus[2] %}
						<span role="text">{{ event[0] }} ({{ event[1] }}) - {{ event[2] }}</span>
					{% endfor %}
					</td>
					<td>
					{% for event in systemStatus[2] %}
						<span role="text">{{ event[3] }} - {{ event[4] }}</span>
					{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody></table></section>
	</body>
</html>